html,
body,
#root,
.App {
  width: 100%;
  min-height: 100%;
  margin: 0;
}

* {
  box-sizing: border-box;
}

.App {
  padding: 5%;
}

.nav {
  display: flex;
  gap: 1rem;
}

.nav a {
  color: white;
}

.highcharts {
  display: grid;
  gap: 1rem;
}

.highcharts > p {
  text-align: center;
  font-size: 120%;
}

.charts {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  gap: 1rem;
}

.visx-chart {
  height: 300px;
  padding: 10px;
  border-radius: 5px;
  overflow: hidden;
  border: 2px solid gray;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chart-container {
  height: 300px;
  border-radius: 5px;
  overflow: hidden;
  border: 2px solid gray;
  display: flex;
  align-items: center;
  justify-content: center;
}

.highcharts-chart {
  height: 100%;
}
